*{
    margin: 0;
    padding: 0;
}

.password-container {
    border: 1px hidden black;
    height: 100vh;
    width: 100%;
    display: flex;
}

.formpassword {
    border: 1px hidden blue;
    width: 100%;
}

.password-form-content {
    width: 100%;
}

.password-container .navigation-bar {
    max-height: 100%;
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f6fa;
}

.filds-form {
    border: 1px hidden red;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fild-item{
    padding: 4px;
    margin: 16px;
}

.fild-item.submit-button {
    padding: 8px;
    border: 1px hidden #96aee7;
    background-color: transparent;
    border-radius: 8px;
    background-color: #3862c4;
    color: white;
    font-weight: 600;
}

.filds-form .fild-item.password {
    border: 1px solid #3862c4;
    height: 50px;
    width: 320px;
    border-radius: 10px;
}

.filds-form.password-form {
    margin: 0 30px;
}

.fild-item.label {
    font-size: 1.4em;
}

.main-title {
    border: 1px hidden orange;
    padding: 0px 0 0 15px;
    font-size: 1.9em;
    font-weight: 600;
}



@media screen and (max-width: 657px) {
.formpassword {
    margin: 58px 0px 0 16px;
}
    .filds-form.password-form {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .password-container .fild-item {
        margin: 0;
    }

    .fild-item.submit-button.pawssword {
        border: 1px solid black;
        margin: 16px 0 0 0;
    }
}

@media screen and (max-width: 487px) {
    .filds-form .fild-item.password {
        width: 100%;
    }
}