* {
    margin: 0;
    padding: 0;
}

.reference-client {
    border: 1px hidden red;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 0 0;
}

.reference-client h1 {
    text-align: center;
    font-size: 2.9em;
    font-weight: 400;
    font-family: "Gothambold";
}

.img-logo-client-container {
    border: 1px hidden red;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.img-logo-client {
    border: 1px hidden green;
    height: 170px;
    width: 180px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.logo-client-maboxalgerie {
    width: 100%;
    object-fit: cover;
}

.logo-client-maboxalgerie.sonatrach, 
.logo-client-maboxalgerie.bna,
.logo-client-maboxalgerie.bayer {
    transform: scale(0.75);
}

/* RESPONSIVE */
@media screen and (max-width: 425px) {
    .reference-client h1 {
       padding: 0 20px 0 20px;
        font-size: 2.1em;
    }

    .img-logo-client-container {
        margin: 0;
    }
}
