* {
    margin: 0;
    padding: 0;
}

.Workshop {
    border: 1px hidden black;
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.Workshop .navigation-bar {
    max-height: 100%;
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f6fa;
}

.workshop-container-content {
    border: 1px hidden black;
    height: auto;
    width: 100%;
}

.Workshop .filds.title {
width: 775px;
}

.Workshop .filds.place {
    margin: 15px 0 0 0;
}

.Workshop .label-input-file {
    margin: 15px 8px 8px 8px;
}
