* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.presentation-container {
    border: 1px hidden red;
    min-height: 100vh;
    width: 100%;
}

.title-presentation {
    border: 1px hidden orange;
    padding: 15px;
    font-size: 1.9em;
    font-weight: 600;
    margin: 42px;
}

.presentation-form {
    margin: 32px;
}

.filds-form.presentation {
    margin: 8px;
}

.presentation-form {
    padding: 18px;
}

@media screen and (max-width:856px) {
    .filds-form.presentation {
        flex-direction: column;
       align-items: flex-start;
    }

    .filds.paragraphe,  .filds.title-presenntation, .label  {
        width: 100%;
        margin: 4px 0;
    }
}