* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.Home {
    border: 1px hidden black;
    max-height: 100%;
    width: 100%;
    background-color: #f5f6fa;
}

.nav-admin {
    border: 1px hidden red;
    max-height: 100%;
    width: 2.55em;
    border-radius:20px;
    background-color: #f5f6fa;
}

.bg-red{
    border: 1px hidden red;
    height: 100%;
    width: 5vw;
}

.bg-red-smallscreen {
    height: 100%;
    width: 15vw;
}

.item-list {
    border: 1px hidden orange;
    height: 10vh;
    width: 100%;
    background-color: #f5f6fa;
}

.icon-arrow-menu {
    border: 1px hidden red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #3862c4;
}

/* ICONS */
.icon-arrow-menu i {
    padding: 4px;
}

#arrow-icon {
    color: #0d2d82;
    background-color: #f5f6fa;
}

.title-nav-admin {
    font-size: 2em;
    border: 1px hidden red;
    text-align: center;
    max-height: 100%;
    width: 100%;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;
}

.item {
    border: 1px hidden #3862c4;
    height: 60px;
    padding: 20px;
    width: 15vw;
    cursor: pointer;
    display: none;
    background-color: #f5f6fa;
}

.display-item {
    width: 20em;
    display: inline-block;
    min-height: 70%;
}

.navtitle-largesc {
    width: 10em;
}

.navlargevr {
    width: 20em;
}

.navevr-smallscreen, .navtitle-smallesc{
    width: 65vw;
}

.display-item-smallscreen {
    width: 65vw;
    display: inline-block;
    min-height: 100%;
    z-index: 100;
}

.item:hover {
    transition: 0.3s ease-in-out;
    background-color: #f1d3c9;
    color: white;
}

.unnder-category {
    border: 1px hidden pink;
    height: auto;
    font-size: 0.9em;
    cursor: pointer;
    margin: 10px;
    background-color: #3862c4;
}

#icon-dashbord {
    color: #f15a28;
    background-color: transparent;
}

.icon-bell-container {
    background-color: #3862c4;
}

.admin-content {
    border: 1px hidden blue;
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

.nav-alert {
    border: 1px hidden orange;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date {
    border: 1px hidden blue;
    display: flex;
    background-color: #3862c4;
    color: white;
}

.date div {
    padding: 10px;
    font-size: 1.4em;
    background-color: #3862c4;
    color: white;
}

.logout-button {
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
}

.logout-button:hover {
    background-color: white;
    color: #3862c4;
    transition: 0.3s ease-in-out;
}

.link-item {
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 1.25em;
}

.bx-grid-small {
    background-color: #3862c4;
    color: white;
    font-size: 1.3em;
}

@media screen and (max-width : 652px ) {
    .bx-grid-small {
        background-color: #3862c4;
        color: white;
        font-size: 0.8em;
    }
}

@media screen and (max-width:330px) {
    .logout-button {
        padding: 0;
    }
}