* {
    margin: 0;
    padding: 0;
}

.advantage {
    border: 1px hidden blue;
    min-height: 100vh;
    width: 100%;
}

.advantage h1 {
    border: 1px hidden orange;
    padding: 15px;
    font-size: 1.9em;
    font-weight: 600;
    margin: 32px;
}

.advantage-form {
    border: 1px hidden black;
    margin: 36px;
}

.filds.advantage-input {
    margin: 8px;
}



@media screen and (max-width: 657px) {
    .advantages-fields {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .filds-form.advantages-fields {
        align-items: flex-start;
    }

    .feedback-cards {
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 16px;
    }

    .label-input-file.advantage {
        margin: 8px;
        width: 100%;
    }
}

@media screen and (max-width: 487px) {
    .filds {
        width: 100%;
    }

    .advantage-form {
        margin: 36px 0 0 36px;
    }
}