* {
    margin: 0;
    padding: 0;
    font-family: "Gotham Book", sans-serif;
}

.Home {
    border: 1px hidden black;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.slide {
    border: 1px hidden orange;
    height: 42em;
    width: 100%;
}

.Home .nav-container {
    width: 100%;
    height: auto;
}