* {
    margin: 0;
    padding: 0;
}

.Command-box {
    border: 1px hidden black;
    min-height: 100%;
    width: 100%;
    display: flex;
}

.Command-box .navigation-bar {
    max-height: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f6fa;
}

.section-td-table-commande-box, .c {
    background-color: transparent;
    margin: 5px;
}

.section-td-table-commande-box.box-title {
    font-weight: 800;
    text-decoration: underline;
    color: #E53312;
}

.Command-box .command-title {
    border: 1px hidden orange;
    padding: 55px;
    font-size: 1.9em;
    font-weight: 600;
    color: #0d2d82;
}
