* {
    margin: 0;
    padding: 0;
}

.cart-container {
    border: 1px hidden black;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.cart-content {
    width: 100%;
}

.cart-container .navigation-bar {
    max-height: 100%;
    background-color: #3862c4;
}

.table-commands {
    padding: 55px 55px 0 55px;
    width: 100%;
}

.title-cart-container {
    border: 1px hidden orange;
    padding: 15px;
    font-size: 1.9em;
    font-weight: 600;
}

.cart-list-item {
    border: 1px solid #96aee7;
    padding: 8px;
    border-radius: 35px;
    margin: 4px;
    background-color: #dee6f6;
}

.column-actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trush-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.fa-trash-can {
    font-size: 1em;
    padding: 4px;
    color: red;
    background-color: transparent;
}

.date-td {
    font-size: 1.1em;
    padding: 4px;
}

.table-commands .table-header {
    background-color: #dee6f6;
}

.pagination-container {
    border: 1px hidden blue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px hidden black;
    min-width: 200px;
}

.nxtButton,
.prevButton {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.paginationBtns {
    word-spacing: 50px;
    color: red;
}

@media screen and (max-width : 737px) {
    .table-commands {
        overflow: auto;
    }

    .table-commands .table-cart {
        width: 700px;
        overflow-x: auto;
        margin: 20px;
    }

    .title-cart-container {
        margin: 30px;
    }

    .cart-container {
        overflow: hidden;
    }
}